@page
@model WebPages.Pages.MakeReservationModel
@{
}

<h1> Make reservation for flight</h1>

<div>

     <form>
        <div class="form-group">
                   <!--
                       Email
                    <label asp-for=""></label>
                    <input asp-for="" class="form-control" />
                    <span asp-validation-for="" class="text-danger"></span>
                   -->
                   <!--
                       Password label
                    <label asp-for=""></label>
                    <input asp-for="" class="form-control" />
                    <span asp-validation-for="" class="text-danger"></span>
                
                    -->
                </div>
    </form>


</div>