@page
@model RegisterModel
@{
}

<br />
<h1 class = "d-flex justify-content-center">You don\'t have an account?</h1>
<h3 class = "d-flex justify-content-center">You can buy tickets, save and check flight faster easily!</h3>
<h4 class = "d-flex justify-content-center">This saves you time and makes your experience better</h4>

<div>
    <form>
        <div class="form-group">
                   <!--
                       Email
                    <label asp-for=""></label>
                    <input asp-for="" class="form-control" />
                    <span asp-validation-for="" class="text-danger"></span>
                   -->
                   <!--
                       Password label
                    <label asp-for=""></label>
                    <input asp-for="" class="form-control" />
                    <span asp-validation-for="" class="text-danger"></span>
                
                    -->
                </div>
    </form>
</div>