
@{
    ViewData["Title"] = "FlightReserved";
}

<h1>Flight Reserved!</h1>
<h2>Thank you for choosing us!</h2>

<h3>E-mail with all the needed information is send to your e-mail adress</h3>

<a class="nav-link text-success" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
