@{
    ViewData["Title"] = "Home Page";
}
@using Data;
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<dbUser> SignInManager
@inject UserManager<dbUser> UserManager
<style>
    body{
        
        background-image:url('img/Plane_Flighting_from_airport.jpg');
        background-repeat:no-repeat;
        background-attachment:fixed;
  background-size: 100% 100%;
    }
</style>

<div style="margin-top:40vh" class="text-white">
    <h1 class="d-flex">Welcome to the&nbsp<b>KC SkyLine</b>!</h1>
    <h3 class="d-flex ">Make reservations for your next trip today!</h3>
    <br></br>
    <br/>
     @if (SignInManager.IsSignedIn(User))
        {
        <a class="d-flex h3 w-25 text-white border rounded border-white d-inline-flex p-2" style="border-width:15px; " asp-area=""  asp-controller="Flights"asp-action="Index">Make a reservation...</a>
    }
    else
    {

    <a class="d-flex h3 w-25 text-white border rounded border-white d-inline-flex p-2" style="border-width:15px; " asp-area=""  asp-controller="Home"asp-action="LoginOptions">Make a reservation...</a>
    }
</div>